.title_box{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin:16px;
    color:#FFFFFF;
    text-align: center;
    line-height: 32px;
}
.active{
    color: #FFFFFF;
}


#individual_center{
    width: 150px;
    position: absolute;
    top:0;
    right:30px;
    text-align: center;
}


#individual_center > ul {
    position: absolute;
    width: 150px;
    background-color: #FFFFFF;
    z-index: 99999;
}

#individual_center > ul > li{
    width: 150px;
    line-height: 30px;
    /*border:1px solid red;*/
    margin-bottom: 10px;
}

#individual_center > ul >li >a{

}