.img_input_flag{
    width:210px;
    height: 30px;
    outline-style: none;
    padding-left: 10px;
    border:1px solid #D9D9D9;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.img_input_flag:hover{
    border:1px solid #5DA2FF;
}


.clear_fix{
    width: 120px;
    position: absolute;
    left:545px;
    top:70px;
    margin: auto;
    /*border:1px solid #FAFAFA;*/
    text-align: left;
    /*background-color: #000c17;*/
}

#imageDesc{
    width: 450px;
    position: absolute;
    top: 80px;
    left: 670px;
    z-index: 99999;
    /*border:1px solid red;*/
    text-align: left;
}

.div_flag{
    margin-bottom: 70px;
}

#img_add{
    /*width: 225px !important;*/
    /*height: 100px !important;*/
    /*background-color: #000c17 !important;*/
    /*position: relative !important;*/
}


